$font-karla: Karla, Helvetica, Arial, sans-serif;

@import "theme";

@import "~app/app.component.scss";

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    color: #404040;
    font-family: $font-karla;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

a {
    &, &:link, &:visited {
        border-bottom: 1px solid mat-color($candy-app-accent);
        color: mat-color($candy-app-accent);
        text-decoration: none;
    }

    &:active, &:focus, &:hover {
        color: inherit;
        transition: all 0.25s ease;
    }
}