.container {
    background: #efefef;
    padding: 40px;
}

.episode-table {
    border-spacing: 0;
    width: 100%;
}

.data-row {
    td {
        border-top: 1px solid #e8e8e8;
        padding: 6px;
    }
}

.air-no {
    &-header {
        width: 100px;

        .mat-sort-header-container {
            justify-content: center;
        }
    }

    &-cell {
        text-indent: 26px;
    }
}

.ep-no {
    &-header {
        width: 100px;

        .mat-sort-header-container {
            justify-content: center;
        }
    }

    &-cell {
        text-indent: 18px;
    }
}

.title-cell {
    padding-right: 60px;
}

.watched-cell {
    text-align: center;
}

.hide-watched {
    padding-bottom: 20px;
    padding-right: 50px;
    text-align: right;
}