.container {
    padding: 40px;
}

.episode-table {
    border-spacing: 3px;
    width: 100%;
}

.air-no-cell {
    text-align: center;
}

.episode-no-cell {
    text-align: center;
}

.title-cell {
    padding-right: 60px;
}

.watched-cell {
    text-align: center;
}